# Database
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=db

# Prisma
DATABASE_URL=mysql://user:password@mysql:3306/db

# Redis
REDIS_URL=redis://redis:6379

# Nest API
PORT=3000
NODE_ENV=development

# Admin
SESSION_TTL_SECONDS=2592000
COOKIE_SECURE=true